body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #333;
  background-image: url("background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
header {
  background-color: #222;
  color: white;
  padding: 20px;
  text-align: center;
  animation:slideshow 2s ease;
  }
@keyframes slideshow{
  from{
  transform:translateY(-100px);
  opacity:0;
  }
to{transform:translateY(0);
   opacity:1;
  }
}
header h1 {
  margin: 0;
  font-size: 36px;
}
nav {
  margin-top: 10px;
}

nav a {
  text-decoration: none;
  color: #ADD8E6;
  margin: 0 10px;
  font-weight: bold;
  transition:color 0.5s ease;
}

nav a:hover {
  color: gold;
}
section {
  padding: 30px;
  margin: 20px;
  background-color:white;
  border-radius: 10px;
  box-shadow:0 10px 30px rgba(0,0,0,0.1);
}
p {
  display: block;
  width: 100%;
}
footer {
  background-color: grey;
  color: white;
  text-align: center;
  padding: 18px;
  width: 100%;
  margin:0;
}
hr {
  border: none;
  height: 1px;
  background-color: black;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;  
    gap: 10px;
}

label {
    margin-top: 10px;
    font-weight: 400;
}

input, textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.box {
    width: 20%;
    max-width: 500px;      
    padding: 20px;
}